body {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  height: 720px;
}
button {
  grid-column: 3;
  grid-row: 4;
}
diV {
  grid-column: 3;
  grid-row: 3;
  text-align: center;
  font-size: 25px;
}
